body{
    text-decoration-color:rgb(60, 10, 36);
    background-color: floralwhite;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #ffdff1;
}
.list:link{color:rgb(255, 255, 255); border-style: solid; background-color: rgb(198, 154, 192); border-color: #aa4e82; border: 50px;}
.list:visited{color: rgb(255, 220, 220); background-color: #964172;}
.list:hover{color:whitesmoke; background-color: rgb(232, 188, 226); color:rgb(210, 133, 146);}
.list:active{color:black; background-color: rgb(224, 146, 200);}

